* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardHighlight {
  min-height: 100%;
}

.body {
  background-color: rgb(224,255,255);
}

.card-img-top {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}

.loginForm{
    
    width: 60%;
    justify-content:center;
    margin: 0 auto;
    background-color: rgb(204,204,205);
}

.dashboard-title {
  text-align: center;
  margin-top: 50px;
}

.dashboard-button {
  text-align: center;
  margin-bottom: 20px;
}

.product-page-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cardHighlight2 {
  width: 21.5em;
  margin:0 auto;
}

.cardHighlight3 {
  min-height: 50%;
}